*{
  margin: 0;
  padding:0;
}

.slider{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:100%;
  height: 100vh;
  animation: slide 30s infinite;
}

.content{
  color:#fff;
  width:100%;
  height:100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.principal{
  left:50%;
  top:50%;
  transform: translate(-50% ,-50%);
  position:absolute;
  letter-spacing: 5px;
  text-align: center;
}

.principal h1{
  font-size: 70px;
  margin-bottom: 20px;
}

.principal p{
  font-size: 20px;
}

@keyframes slide  {
  0%{
    background-image: url("../images/IMG_0149.jpg");
  }
  20%{
    background-image: url("../images/IMG_0209.jpg");
  }
  20.1%{
      background-image: url("../images/IMG_1054.jpg");
    }
    40%{
      background-image: url("../images/IMG_1420.jpg");
    }
    40.1%{
      background-image: url("../images/IMG_2022.jpg");
    }
    60%{
      background-image: url("../images/IMG_2285.jpg");
    }
    60.1%{
        background-image: url("../images/IMG_2291.jpg");
      }
      80%{
        background-image: url("../images/IMG_2512.jpg");
      }
}